<div class="modal-header">
    <h3 class="modal-title pull-left">SHOPPING CART</h3>
    <span class="close-popup glyphicon glyphicon-remove pull-right" ng-click="cancel()"></span>
</div>
<div class="modal-body">
    <div>
        <div class="wrap">
            <div class="checkout-sidebar">
                <div class="checkout-sidebar__content">
                    <div class="order-summary" ng-class="{ 'order-summary--is-expanded': $ctrl.orderSummaryVisible, 'order-summary--is-collapsed': !$ctrl.orderSummaryVisible }"  ng-click="$ctrl.orderSummaryVisible = !$ctrl.orderSummaryVisible">
                        <div class="order-summary__section order-summary__section--product-list">
                            <vc-checkout-line-items items="$ctrl.cart.items" show-prices-with-taxes="$ctrl.showPricesWithTaxes" currency="$ctrl.cart.currency"></vc-checkout-line-items>
                        </div>
                        <div class="order-summary__section order-summary__section--discount">
                            <vc-checkout-coupon coupon="$ctrl.checkout.coupon" on-apply-coupon="$ctrl.applyCoupon(coupon)" on-remove-coupon="$ctrl.removeCoupon(coupon)"></vc-checkout-coupon>
                        </div>
                        <div class="order-summary__section order-summary__section--total-lines">
                            <vc-checkout-totals cart="$ctrl.cart" show-prices-with-taxes="$ctrl.showPricesWithTaxes" currency="$ctrl.cart.currency"></vc-checkout-totals>
                        </div>
                        <div class="order-summary__section order-summary__section--total">
                            <vc-checkout-totals display-only-total="true" cart="$ctrl.cart" show-prices-with-taxes="$ctrl.showPricesWithTaxes" currency="$ctrl.cart.currency"></vc-checkout-totals>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main" role="main">
                <div class="main__header">
                    <ul class="breadcrumb">
                        <li class="breadcrumb__item" ng-repeat="step in $ctrl.checkout.wizard.steps" ng-if="!step.disabled && !step.final" ng-class="{ 'breadcrumb__item--current': step.isActive, 'breadcrumb__item--completed': !step.isActive }">
                            <a class="breadcrumb__link" ng-href="javascript:;" ng-click="$ctrl.checkout.wizard.goToStep(step)" ng-if="!step.isActive" ng-bind="step.title"></a>
                            <span ng-class="current" ng-if="step.isActive" ng-bind="step.title"></span>
                        </li>
                    </ul>
                </div>
                <div class="main__content">
                    <vc-checkout-wizard wizard="$ctrl.checkout.wizard" on-initialized="$ctrl.initialize()" on-finish="$ctrl.createOrder()" loading="$ctrl.checkout.loading">
                        <vc-checkout-wizard-step name="shipping-address" on-next-step="$ctrl.updateShipment($ctrl.checkout.shipment)" title="{{ 'checkout.customer_information.title' | translate }}">
                            <div class="edit_checkout animate-floating-labels">
                                <div class="step__sections">
                                    <div class="section section--contact-information">
                                        <div class="section__header">
                                            <h2 class="section__title">{{ 'checkout.customer_information.title' | translate }}</h2>
                                        </div>
                                        <div class="section__content">
                                            <vc-checkout-email email="$ctrl.checkout.email"></vc-checkout-email>
                                        </div>
                                    </div>
                                    <div class="section section--shipping-address">
                                        <div class="section__header">
                                            <h2 class="section__title">{{ 'checkout.shipping_address' | translate }}</h2>
                                        </div>
                                        <div class="section__content">
                                            <vc-checkout-address address="$ctrl.checkout.shipment.deliveryAddress" countries="$ctrl.cart.availCountries" get-country-regions="$ctrl.getCountryRegions(country)" addresses="$ctrl.cart.customer.addresses" edit-mode="true"></vc-checkout-address>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </vc-checkout-wizard-step>
                        <vc-checkout-wizard-step name="shipping-method" title="{{ 'checkout.shipping_method.title' | translate }}" on-next-step="$ctrl.updateShipment($ctrl.checkout.shipment)">
                            <div class="edit_checkout animate-floating-labels">
                                <div class="section section--shipping-address-recap">
                                    <div class="section__header">
                                        <h2 class="section__title">{{ 'checkout.shipping_address' | translate }}</h2>
                                    </div>
                                    <div class="section__content">
                                        <p>
                                            <vc-checkout-address address="$ctrl.checkout.shipment.deliveryAddress" edit-mode="false"></vc-checkout-address>
                                        </p>
                                    </div>
                                </div>
                                <div class="section section--shipping-method">
                                    <div class="section__header">
                                        <h2 class="section__title">{{ 'checkout.shipping_method.title' | translate }}</h2>
                                    </div>
                                    <div class="section__content">
                                        <vc-checkout-shipping-methods shipment="$ctrl.checkout.shipment" on-select-shipping-method="$ctrl.selectShippingMethod(shippingMethod)" get-avail-shipping-methods="$ctrl.getAvailShippingMethods($ctrl.checkout.shipment)" currency="$ctrl.cart.currency"></vc-checkout-shipping-methods>
                                    </div>
                                </div>
                            </div>
                        </vc-checkout-wizard-step>
                        <vc-checkout-wizard-step name="payment-method" title="{{ 'checkout.payment_method.title' | translate }}">
                            <div class="edit_checkout animate-floating-labels">
                                <div class="step__sections">
                                    <div class="section section--payment-method">
                                        <div class="section__header">
                                            <h2 class="section__title">{{ 'checkout.payment_method.title' | translate }}</h2>
                                            <p class="section__text">{{ 'checkout.payment_method.subtitle' | translate }}</p>
                                        </div>
                                        <div class="section__content">
                                            <vc-checkout-payment-methods get-avail-payment-methods="$ctrl.getAvailPaymentMethods()" payment-method="$ctrl.checkout.paymentMethod" on-select-method="$ctrl.selectPaymentMethod(paymentMethod)"></vc-checkout-payment-methods>
                                        </div>
                                    </div>
                                    <div class="section section--billing-address">
                                        <div class="section__header">
                                            <h2 class="section__title">{{ 'checkout.payment_method.billing_address' | translate }}</h2>
                                        </div>
                                        <div class="section__content">
                                            <div class="content-box">
                                                <div class="checkbox-wrapper content-box__row" ng-if="$ctrl.cart.hasPhysicalProducts">
                                                    <div class="checkbox__input">
                                                        <h1>Equals</h1>
                                                        <input class="input-checkbox" id="BillingAddressEqualsShipping" name="BillingAddressEqualsShipping" ng-model="$ctrl.checkout.billingAddressEqualsShipping" type="checkbox" ng-checked="$ctrl.checkout.billingAddressEqualsShipping" />
                                                    </div>
                                                    <label class="checkbox__label" for="BillingAddressEqualsShipping">{{ 'checkout.payment_method.billing_address_equals_shipping' | translate }}</label>
                                                </div>
                                                <div class="radio-group__row content-box__row content-box__row--secondary" ng-if="!$ctrl.checkout.billingAddressEqualsShipping">
                                                    <vc-checkout-address address="$ctrl.checkout.payment.billingAddress" countries="$ctrl.cart.availCountries" get-country-regions="$ctrl.getCountryRegions(country)" addresses="$ctrl.cart.customer.addresses" on-update="$ctrl.validateCheckout($ctrl.checkout)" edit-mode="true"></vc-checkout-address>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </vc-checkout-wizard-step>
                        <vc-checkout-wizard-step name="create-order" title="Create order" final="true" can-enter="$ctrl.checkout.isValid">
                        </vc-checkout-wizard-step>
                    </vc-checkout-wizard>
                </div>
            </div>
        </div>
        <div class="order-created">
            <h2>The order created successfully!</h2>
            <div class="order-number">
                Your order number: <span id="orderNumber">{{$ctrl.checkout.order.number}}</span>
            </div>
        </div>
    </div>
</div>
